.table-time {
  border-right: 1px solid #FFFFFF33;
  min-height: 30px;
  max-width: 150px;
  padding-top: 0.5em;
  padding-right: 0px;
  padding-bottom: 0.5em;
  padding-left: 0; }
  @media screen and (min-width: 768px) {
    .table-time {
      min-height: 1em;
      padding-left: 1em; } }
  @media (prefers-color-scheme: dark) {
    .table-time {
      color: #fff; } }
  @media (prefers-color-scheme: light) {
    .table-time {
      color: #000; } }
  .table-time span {
    display: block;
    text-align: left;
    padding: 0 0.9em; }
    @media screen and (min-width: 768px) {
      .table-time span {
        padding: 0 2em; } }

/*@include screen--md {
  .table-time {
    min-height: 80px;
  }
}*/
