.table-time {
  border-right: 1px solid #FFFFFF33;
  min-height: 30px;
  max-width: 150px;
  padding: 0.5em 0;
  padding-left: 1em; }
  .table-time span {
    display: block;
    text-align: left; }

/*@include screen--md {
  .table-time {
    min-height: 80px;
  }
}*/
