@import "../../styles/variable.scss";

.schedule_rest_container {
    font-weight: 500;
    font-size: 16px;
    line-height: 44.8px;
    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
    @media (prefers-color-scheme: light) {
      color: #000;
    }  
}

.schedule_talk_container {
    display: flex;
    text-align: center;
    font-weight: bold;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

@include screen--md {
    .schedule_talk_container {
        width: 100%;
        display: flex;
    }
  }
