/* Color
 * ======================================================================== */
/* Media queries
 * ======================================================================== */
.schedule_rest_container {
  font-weight: 500;
  font-size: 16px;
  line-height: 44.8px; }
  @media (prefers-color-scheme: dark) {
    .schedule_rest_container {
      color: #fff; } }
  @media (prefers-color-scheme: light) {
    .schedule_rest_container {
      color: #000; } }

.schedule_talk_container {
  display: flex;
  text-align: center;
  font-weight: bold;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; }

@media screen and (min-width: 768px) {
  .schedule_talk_container {
    width: 100%;
    display: flex; } }
