@import "../../styles/variable.scss";

.table-talk {
  width: 100%;

  span {
    display: block;
  }

  .talk_room_lable {
    margin: 0 0.5em 0.5em 0.5em;
  }
  .table-talk__topic {
    font-weight: bold;
    cursor: pointer;
  }

  .table-talk__presenter {
    @media (prefers-color-scheme: dark) {
      color: #eeeeeecc;
    }
    @media (prefers-color-scheme: light) {
      color: #191919CC;
    }  
    font-size: 1em;
    text-align: left;
  }
  .tag_image {
    width: 24px;
    height: 24px;
    margin: 6px;
  }
}

@include screen--md {
  .table-talk {
    width: 100%;
  }
  .talk_room_lable {
    display: none;
  }
}
