.decorated-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    margin: 40px auto;
    color: white;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .heading-icons {
    display: flex;
    gap: 8px;
  }
  
  .heading-icons img {
    width: 62px;
    height: 20px;
  }
  
  .heading-text {
    font-size: 36px;
    font-weight: 700;
    color: white;
    word-break: break-word;
  }

/* @media (max-width: 768px) {
  .decorated-heading {
    flex-direction: column;
    gap: 1px;
  }
} */