.sponsors-section {
    background-color: #323232;
}

.special-thanks-section {
    background-color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sponsors-title .heading-text{
  color: rgba(50, 50, 50, 1);
}

.center-section {
    background-color: white;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1500px;
}

.level-section {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

.diamond .logo-grid-item {
    width: 960px;
    height: 154px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.sliver .logo-grid-item {
    width: 960px;
    height: 154px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.copper .logo-grid-item {
    width: 450px;
    height: 120px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.copper-level-section {
    position: relative;
    margin-top: 30px;
    margin-bottom: 50px;
}

.individual-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #323232;
    height: 600px;
}

.individual-corner-logo {
    position: absolute;
    padding: 0.5rem;
    top: 0.5rem;
    left: auto;
    right: 0.5rem;
    height: 1rem;
    width: 1rem;
    z-index: 2;
    border-radius: 50%;
    color: #FFD874;
    background-color: black;
  }

.individual-card-info {
    background-color: rgba(81, 78, 88, 1);
    color: #fff;
    padding: 16px;
    text-align: left;
    height: 70px;
}

@media (max-width: 1279px) {
    .center-section {
        height: 1750px;
    }

    .diamond .logo-grid-item {
        width: 600px;
        height: 250px;
    }
    .sliver .logo-grid-item {
        width: 600px;
        height: 250px;
    }

    .copper .logo-grid-item {
        width: 300px;
        height: 100px;
    }
    
    .individual-section {
        height: 1200px;
        margin-left: 8rem;
        margin-right: 8rem;
    }
}

@media (max-width: 768px) {
    .center-section {
        height: 1300px;
    }

    .copper-level-section {
        text-align: left;
        margin-left: 20px;
    }

    .diamond .logo-grid-item {
        width: 278px;
        height: 116px;
    }

    .sliver .logo-grid-item {
        width: 278px;
        height: 116px;
    }

    .copper .logo-grid-item {
        width: 120px;
        height: 40px;
    }

    .individual-section {
        height: 2400px;
        margin-bottom: 10rem;
        margin: 20px;
    }
}