.sponsors-section {
    background-color: white;
}

.special-thanks-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.special-thanks-title .heading-text{
  color: rgba(50, 50, 50, 1);
}

.center-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #350B75;
    height: 1200px;
}

.level-section {
    position: relative;
    margin-right: 190px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.copper-level-section {
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 550px;
}

.individual-section {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #323232;
}

@media (max-width: 768px) {
    .center-section {
        height: 1400px;
    }

    .level-section {
        text-align: left;
        margin-left: 20px;
    }

    .copper-level-section {
        text-align: left;
        margin-left: 20px;
    }
}