@import "../../styles/variable.scss";
.modal-speaker-detail-speaker {
  display: flex;
  flex-direction: column;
}


.modal-speaker-detail-container {
  display: flex;
  margin: 20px;
}

.modal-content-schedule_details {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

.modal-content-schedule {
  position: relative;
  padding: 30px;
  padding-top: 50px;
  @media (prefers-color-scheme: dark) {
    background-color: #202020ef;
    color: #e6e6e6;
  }
  @media (prefers-color-scheme: light) {
    background-color: #fff;
    color: #000;
  }
  border-radius: 16px;

  .modal-content-schedule__topic {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 44.8px;
  }

  .modal-content-schedule__presenter {
    font-weight: 700;
    font-size: 18px;
    line-height: 26.74px;
    margin-left: 20px;
  }

  .modal-content-schedule__presenter-description {
    color: $color--gray;
    font-size: 0.8em;
  }

  .modal_tag {
    vertical-align: middle;
    margin: 4px 0;
    color: #666666;
  }
  .modal_tag_image {
    width: 32px;
    height: 32px;
    margin-right: 6px;
  }

  .modal-content-speakers__img {
    width: 64px;
  }
  .modal-content-schedule_subtitle {
    padding-top: 1em;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
  }
  .modal-content-speakers_sns {
    margin-top: 1em;
    color: $color--secondary
  }

  .modal-content-schedule__close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;

    @media (prefers-color-scheme: dark) {
      color: #fff;
    }
    @media (prefers-color-scheme: light) {
      color: #011432;
    }

    &:hover {
      opacity: 1;
    }

    &::before,
    &::after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 2px;
      @media (prefers-color-scheme: dark) {
        background-color: #fff;
      }
      @media (prefers-color-scheme: light) {
        background-color: #011432;
      }
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}
